@tailwind base;
@tailwind components;
@tailwind utilities;

.front-image {
  background-image: url('../public/header2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gif {
  background-image: url('../public/sollar.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h-500 {
  height: 500px;
}
